@use '../abstracts/_mixins' as *;
@use '../abstracts/_colors' as colors;

.featured {
    padding: 5rem 0;
    background-color: colors.$color-white;
  }
  
  .section {
    &__title {
      text-align: center;
      font-size: 2rem;
      color: colors.$color-primary;
      margin-bottom: 1rem;
    }
  
    &__subtitle {
      text-align: center;
      font-size: 1.1rem;
      color: colors.$color-dark;
      margin-bottom: 2.5rem;
    }
  }
  
  .grid--3cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 3rem;
    
    @include respond-to(mobile) {
      grid-template-columns: 1fr;
    }
  }